
[core]
	editor = subl -w
	excludesfile = /Users/benlu/.gitignore_global
[user]
	name = Benjamin Lu
	email = lu.s.benjamin@gmail.com
[alias]
	bd = branch --delete
	bl = branch --all
	bp = push --set-upstream origin HEAD
	br = branch
	ca = commit --all --amend
	ci = commit --all -m
	cm = commit -m
	co = checkout
	cp = cherry-pick
	cpx = !git cp $* -ex
	d = diff
	da = !sh diffall
	db = !sh diffbranch
	dc = !sh diffcommit
	dh = !sh diffhub
	dl = diff --name-status
	f = fetch --tags --prune
	gr = log --pretty=format:'%C(yellow)%h %C(cyan)%cr %C(magenta)%an%C(green)%d %C(reset)%s' --abbrev --grep
	lg = log --pretty=format:'%C(yellow)%h %C(cyan)%cr %C(magenta)%an%C(green)%d %C(reset)%s' --abbrev
	lgg = log --pretty=format:'%C(yellow)%h %C(cyan)%cr %C(magenta)%an%C(green)%d %C(reset)%s' --abbrev --graph
	m = !git co master && git p
	p = !git f && git pull --rebase
	pbj = !python -m webbrowser http://youtu.be/s8MDNFaGfT4
	pp = !git p && git push
	rhh = reset --hard HEAD
	rbd = push origin --delete
	sps = !git stash && git p && git stash pop
	st = !git branch --list && git stash list -2 && git lg -5 && git status
	wipe = !git add . && git reset --hard HEAD
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
[credential]
	helper = osxkeychain
[push]
	default = simple
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
