# -*- mode: gitignore; -*-

.babel.json
.bash_history
.node_repl_history
.pgpass
.psql_history
.python_history
.rnd
.skipper

.ipython/profile_default/history.sqlite


.aws/
.bash_sessions/
.config/
.cups/
.docker/
.dropbox/
.dvdcss/
.emacs.d/
.gem/
.ipython/
.jspm/
.local/
.matplotlib/
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.pylint.d/
.pyenv/
.ssh/
.git-crypt/
.MacOSX/
.Trash/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
ben_vpn_files/
code/
line-log/
log/
mydockerbuild/
node_modules/
psqldata/






# Ignore Emacs temporary files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
scratch.sql

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/


# Ignore OSX files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
